[submodule "imgui"]
	path = exts/imgui
	url = git@github.com:ocornut/imgui.git

[submodule "assimp"]
	path = exts/assimp
	url = git@github.com:assimp/assimp.git
[submodule "exts/imgui"]
	path = exts/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "exts/ImGuizmo"]
	path = exts/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
